<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My HTML Page</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <button v-on:click="increase">Click me</button>
    <p>{{ counter }}</p>
    <p v-on:mousemove="updateCoordinames">Coordinames: {{ x }}/{{ y }}</p>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        counter: 0,
        x: 0,
        y: 0
      },
      methods: {
        increase: function() {
          this.counter++;
        },
        updateCoordinames: function(event) {
          this.x = event.clientX;
          this.y = event.clientY;
        }
      }
    })
  </script>
</body>
</html>
