<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My HTML Page</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <p>{{ sayHello() }}</p>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        title: 'Hello!'
      },
      methods: {
        sayHello: function() {
          return this.title;
        }
      }
    })
  </script>
</body>
</html>
