<!-- Output raw html using v-html -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My HTML Page</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1 v-once>{{ title }}</h1>
    <p>{{ sayHello() }} - <a v-bind:href="link">Google</a></p>
    <hr>
    <p v-html="finishedLink"></p>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        title: 'Hello!',
        link: 'http://google.com',
        finishedLink: '<a href="http://google.com">Google</a>'
      },
      methods: {
        sayHello: function() {
          this.title = 'Hello Vue! - This is modified title';
          return this.title;
        }
      }
    })
  </script>
</body>
</html>
