<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My HTML Page</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <button v-on:click="counter++">Increase</button>
    <button v-on:click="counter--">Decrease</button>
    <button v-on:click="secondCounter++">Increase Second</button>
    <button v-on:click="secondCounter--">Decrease Second</button>
    <p>Counter: {{ counter }} | {{secondCounter}}</p>
    <p>ResultOne: {{ resultCounter() }} </p>
    <p>ResultSecond: {{ resultSecondCounter() }}</p>
    <p>OutputOne: {{ outputCounter }} </p>
    <p>OutputSecond: {{ outputSecondCounter }}</p>
    <p>{{ nowMethod() }} | {{ nowComputed }}</p>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        counter: 0,
        secondCounter: 0
      },
      computed: {
        outputCounter: function() {
          console.log('ComputedOne');
          return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5';
        },
        outputSecondCounter: function() {
          console.log('ComputedSecond');
          return this.secondCounter > 5 ? 'Greater than 5' : 'Smaller than 5';
        },
        nowComputed: function () {
          console.log('Computed Date');
          return Date.now()
        }
      },
      methods: {
        resultCounter: function() {
          console.log('MethodOne');
          return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5';
        },
        resultSecondCounter: function() {
          console.log('MethodSecond');
          return this.secondCounter > 5 ? 'Greater than 5' : 'Smaller than 5';
        },
        nowMethod: function () {
          console.log('Method Date');
          return Date.now()
        }
      }
    })
  </script>
</body>
</html>
