<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My HTML Page</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <button v-on:click="counter++">Increase</button>
    <button v-on:click="counter--">Decrease</button>
    <button v-on:click="secondCounter++">Increase Second</button>
    <button v-on:click="secondCounter--">Decrease Second</button>
    <p>Counter: {{ counter }} | {{secondCounter}}</p>
    <p>Result: {{ result() }} | {{ output }} </p>
  </div>
  <script>
    new Vue({
      el: '#app',
      data: {
        counter: 0,
        secondCounter: 0
      },
      computed: {
        output: function() {
          console.log('Computed');
          return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5';
        }
      },
      watch: {
        counter: function(value) {
          vm = this;
          setTimeout(function() {
            vm.counter = 0;
          }, 2000);
        }
      },
      methods: {
        result: function() {
          console.log('Method');
          return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5';
        }
      }
    })
  </script>
</body>
</html>
