<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My HTML Page</title>
  <link rel="stylesheet" type="text/css" title="Cool stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <p>{{ title }}</p>
    <button @click=changeTitle>Update</button>
    <button @click=vmDestroy>Destroy</button>
  </div>
  <script>
    var vm = new Vue({
      el: '#app',
      data: {
        title: 'Hello World!',
        vmDestroy: function() {
          vm.$destroy();
        }
      },
      methods: {
        changeTitle: function() {
          this.title = 'Hello Vue!'
        }
      },
      beforeCreate: function() {
        alert("beforeCreate");
      },
      created: function() {
        alert("created");
      },
      beforeMount: function() {
        alert("beforeMount");
      },
      mounted: function() {
        alert("mounted");
      },
      beforeUpdate: function() {
        alert("beforeUpdate");
      },
      updated: function() {
        alert("updated");
      },
      beforeDestroy: function() {
        alert("beforeDestroy");
      },
      destroyed: function() {
        alert("destroyed");
      }
    });
  </script>
</body>
</html>
